<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLLvsDAL.Properties.Settings.QuanLyKhachSanConnectionString"
            connectionString="Data Source=DESKTOP-LSI035B;Initial Catalog=QuanLyKhachSan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLLvsDAL.Properties.Settings.QuanLyKhachSanConnectionString1"
            connectionString="Data Source=DESKTOP-1M1S910\DUY;Initial Catalog=QuanLyKhachSan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLLvsDAL.Properties.Settings.QuanLyKhachSanConnectionString2"
            connectionString="Data Source=DESKTOP-1M1S910\SQLEXPRESS;Initial Catalog=QuanLyKhachSan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>